.container1
{
background-color: black;
width: 40px;
height: 400px;
top: 0%;
left: 0%;
padding-left: 0%;
position: fixed;

}
.container2
{ width: 40px;
    height: 250px;
    background-color: yellow;
    top: 63%;
    left: 0%;
     position: absolute;
}
.bg{
    background-image: url(https://cdn.pixabay.com/photo/2020/02/08/09/05/burger-4829526_1280.jpg);
    background-size: cover;
}
.container3{
    color: white;
}
.horizontal,a{
    display: inline;
    color: white;
}
.textdecoration{
    text-decoration: none;
}
.header{
    padding-top: 0.5%;
   padding-left: 5%;
}
.btn{
  padding: 6px;
   width: 7%;
   background-color: yellow;
   border-radius: 5%;
   border-color:yellow ;
   opacity: 0.9;
   
}
.btn:hover{
   
    border-bottom: 0px;
    border-right: 0px;
    opacity: 1;
    
    
}
.img1{
    padding-top: 10px;
    height: 50px;
    width: 40px;
    background-color: white;
   
}
.w{
    padding-left: 3%;
}
.sp1{
   padding-left: 10px;
   padding-top: 32px;
}
.sp2{
    padding-left: 10px;
    padding-top: 15px;
 }
 

.t{
    padding-left: 6%;
    color: black;
}
.explore{
    padding-left: 5%;
}
.cls1{
    padding-left: 5%;
}